.bg-custom-background {
  background-color: #22282E; /* Custom background color */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.custom-button {
  text-decoration: none; 
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.custom-button:hover {
  color: #3490dc;
  text-decoration: underline; 
}